*{
    margin:0;
    padding: 0;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* Common Tag */
.container{
    width: 75%;
    margin: 0 auto;
}
.grid-box{
    background-color:rgba(53, 17, 101, 0.4) ;
    padding: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 16px;
   
}
.grid-box p , .feature p{
    color: #FFFFFF;
    line-height: 20px;
}
.grid-box h2 , .feature h2{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;

}
header,.choose,.feature {
    background-color: #1A0B2E;
    
}
.choose-container h1 ,.feature h1,.meet h1{
    color: #FFFFFF;
    font-weight: 3rem;
    font-weight: bold;
}
.wave, .nav-btn {
      background: linear-gradient( 45deg,
        #F7E93F 0%,  
        #FB09B4 51%,
        #9100F8 100%
            );

}





#nav-container{
display: flex;

justify-content: space-between;
align-items: center;
padding: 24px 0px;

}
nav ul ,a{
    display: flex;
    gap: 32px;
    color: #FFFFFF;
}
nav li ,a{
    text-decoration: none;
    list-style: none;
}
nav h2{
    color: #FFFFFF;
}
.wave{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-btn{
    padding: 12px 16px;
   
     display: flex;
     border-radius: 26px;
     border: none;
     align-items: center;
     gap: 4px;
     color: #FFFFFF;
     font-weight: 600;
}


.hero{
    background: url(image/hero-bg.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    border-top: 1px solid #281e35;
}


.hero-container{
    padding-block: 101px;
    margin: 0 auto;
    text-align: center;
    bottom:-250px ;
    left: 528px;
}
.hero-content{
   white-space: nowrap;
   margin-top: 40px;
}
.hero-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.microphone {
    position: absolute;
}

.new-btn{
    position: absolute;
    padding: 8px 16px;
    background-color:#00FF88 ;
    z-index: 3;
    margin-bottom: 280px;
    margin-left: 250px;
    border-radius: 20px;
    border: none;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 3px 20px 0 #00FF88 ;
}
.hero-content h1{
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF;
}
.hero-content p{
    color: #FFFFFF;
    margin-top: 8px;
    margin-bottom: 24px;
}
.spotify-btn{
    padding: 12px 20px;
   background: linear-gradient( 45deg,
        #F7E93F 0%,  
        #FB09B4 51%,
        #9100F8 100%
            );
    color: #FFFFFF;
    border: none;
    display: flex;
    flex-direction: row;
    gap: 12px;
    font-weight:600;
    border-radius: 25px;
}
.subscribe-btn{
    padding: 0.8rem 1.25rem ;
    display: flex;
    flex-direction: row;
    gap: 8px;
    border: 1px solid #00FF88;
    color: #00FF88;
    background: transparent;
    border-radius: 30px;
    font-weight:600;
}
.hero-btn{
    display: flex;
    gap: 8px;
    justify-content: center;
}

#about{
    background-color: #1A0B2E;
}
.about-container{
    padding-top: 50px;
    padding-bottom: 120px;
}
.about-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    border-bottom: 1px solid #ffffff19;
}
.about-content h1{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.about-content p{
    color: #FFFFFF;
    line-height: 20px;
}
.about-last{
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
  /*   padding: 80px 20px 0px 20px; */
}
.about-p{
    color: #FFFFFF;

}
.about-h1{
    color: #00FF88;
    font-size: 3rem;
    margin-bottom: 10px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr) ;
    gap: 30px;
}

.grid-a{
    grid-row: span 2;
   
}
.grid-b{
    grid-column: span 2;
}
.grid-c{
    grid-column: span 2;
}
.grid-d{
    grid-column: span 2;
}
.choose-container{
    padding: 120px 0px;

}
.choose-container h1 ,.meet h1 {
    margin-bottom: 40px;
    text-align: center;
}
.choose{
    background-color: #230E3D;
}
.feature h1{
    text-align: center;
    margin-bottom: 150px;
}

.feature{
    padding: 120px 0px;
}
.feature-card{
    max-width: 380px;
    background-color: #250D44;
    border-radius: 30px;
}

iframe{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.feature-card iframe{
    max-width: 380px;
    max-height: 214px;
}
.clock{
    display: flex;
    gap: 10px;
    align-items: center;
}
.feature-text{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.feature-text .time{
    color: #00FF88;
}
.feature-box{
    display: flex;
    gap: 12px;
}




.meet{
    background-color: #1A0B2E;
    padding-bottom: 120px;
}
.meet-box{
    background-color: #250D44;
    border-radius: 25px;
    padding: 40px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.meet h2{
    font-size: 2rem;
    color: #FFFFFF;
    margin-bottom:1rem ;
}
.meet p{
    line-height: 24px;
    margin-bottom: 1rem;
    color: #FFFFFF;
}
.meet-media {
    display: flex;
    gap: 8px;
}
.linkdin, .x ,  .instrangram, .youtube{
    border-radius: 30px;
    border: 1px solid #533C72;
}
.linkdin{
   padding: 6px 8px 7px 10px;
}
.x{
   padding: 8px 9px 0px 9px;
}
.instrangram{
  padding: 8px 8px 0px 8px;
}
.youtube{
padding: 6px 7px 0px 7px;
}
.twiter img{
  
}